---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<style>
    /* Popup styling */
    #copyPopup {
      visibility: hidden;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 5px 10px;
      position: absolute;
      z-index: 1;
      top: 50px; /* adjust as needed */
      left: 50%;
      transform: translateX(-50%);
      font-size: 14px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    #copyPopup.show {
      visibility: visible;
      opacity: 1;
    }
</style>

{% if site.author.dblp %}
  <div class="wordwrap">You can also find my publications on <a href="{{site.author.dblp}}">my dblp profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



