---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<table>
  <thead>
    <tr >
      <th style="text-align:center">Year</th>
      <th style="text-align:center">Level</th>
      <th>Course title</th>
      <th style="text-align:center">Teaching load</th>
    </tr>
  </thead>
  <tbody id="course-table-body">
      {% for post in site.teaching reversed %}
        {% include archive-single-teaching.html %}
      {% endfor %}
  </tbody>
</table>